body {
    background-image: url(casino-background3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}
.container {
    background-image: url(blackjack_table_cover.jpg);
    width: 612px;
    height: 408px;
    background-repeat: no-repeat;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    border: solid 30px #000000;

    left: 33%;
    top: 100px;
}
.cards{
    height: 100px;
    width: 70px;
}
#dealer-hand{
    width: 100px;
    height: 100px;
    
    position: relative;
    left: 42.5%;
    bottom: 45px;
    
    gap: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}
#player-hand{
    width: 100px;
    height: 100px;

    position: relative;
    top: 55%;
    left: 42.5%;

    gap: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.button-container{
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vh;
    gap: 20px
}
.button-container p{ 
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
}
.button-first-container{
    display: flex;
    align-items: c;
    justify-content: center;
    gap: 10px;
}
.button-second-container{
    display: flex;
    align-items: c;
    justify-content: center;
    gap: 10px;
}
#hit{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: solid 5px black;
    box-sizing: content-box;
    background-color: gray;

    font-size: 32px;
    font-weight: bold;

    cursor: pointer;
    transition: opacity 0.3s ease;
}
#hit:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


#stand{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: solid 5px black;
    box-sizing: content-box;
    background-color: gray;

    font-size: 32px;
    font-weight: bold;

    cursor: pointer;
    transition: opacity 0.3s ease;
}
#stand:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#bet-input{
    background-color: #888; /* gray like the button */
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    border: 4px solid black;
    border-radius: 12px;
    padding: 10px 20px;
    text-align: center;
    box-sizing: content-box;
    width: 100px;
    height: 50px;
    padding: 1px 6px;
}
#deal{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: solid 5px black;
    box-sizing: content-box;
    background-color: gray;

    font-size: 20px;
    font-weight: bold;

    cursor: pointer;
    transition: opacity 0.3s ease;
}
#deal:disabled{
    cursor: not-allowed;
    opacity: 0.5;
}
#stand:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

#dealer-hand-number{
    width: 100px;

    position: relative;
    left: 48%;
    bottom: 20px;

    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
#player-hand-number{
    width: 100px;

    position: relative;
    left: 48%;
    top: 85px;

    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.win-pop-up {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    position: absolute;
    bottom: 50vh;
    
    height: 100px;
    width: 300px;
    border-radius: 20px;
    opacity: 0.7;


    background-color: green;
    z-index: 9999;
}

.lose-pop-up {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    position: absolute;
    bottom: 50vh;
    
    height: 100px;
    width: 300px;

    opacity: 80%;
    background-color: red;
    z-index: 9999;
}
.draw-pop-up {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    position: absolute;
    bottom: 50vh;
    
    height: 100px;
    width: 400px;

    opacity: 80%;
    background-color: gray;
    z-index: 9999;
}

.win-pop-up p{
    color: white;
    font-family: sans-serif;
    font-size: 18px;
}
.lose-pop-up p{
    color: white;
    font-family: sans-serif;
    font-size: 18px;
}
.draw-pop-up p{
    color: white;
    font-family: sans-serif;
    font-size: 18px;
}
.custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 6px solid #000000;
    padding: 20px;
    z-index: 1000;
    border-radius: 8px;
    text-align: center;
  }
  .overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 999;
  }

#stats-container p {
    margin: 1px;
}






    
